.row{
    margin-left: 20px;
    color: #fff;

}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

}

.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
  
    

}

.posters::-webkit-scrollbar{
    display: none;
}

.smallPoster{
    max-height: 150px;
    cursor: pointer;
    margin-right: 10px;
}
.smallPoster:hover{
    transform: scale(1.1);
}

.poster:hover{
    transform: scale(1.1);
}